CREATE DATABASE [quanLyCuaHangGiay]
GO
USE [quanLyCuaHangGiay]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[congTy] [nvarchar](250) NOT NULL,
	[moTa] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chatLieu]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chatLieu](
	[chatLieu_id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[nguonGoc] [nvarchar](100) NULL,
	[moTa] [nvarchar](max) NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[chatLieu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chuongTrinhKhuyenMai]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chuongTrinhKhuyenMai](
	[chuongTrinh_id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](250) NOT NULL,
	[ngayBD] [datetime] NOT NULL,
	[ngayKT] [datetime] NOT NULL,
	[giamGia] [float] NOT NULL,
	[trangThai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[chuongTrinh_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoaDon]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoaDon](
	[hoaDon_id] [varchar](10) NOT NULL,
	[ngayTaoHD] [datetime] NULL,
	[nhanVien_id] [varchar](7) NOT NULL,
	[tongTien] [decimal](18, 2) NULL,
	[trangThai] [nvarchar](100) NULL,
	[khachHang_id] [varchar](10) NULL,
	[thanhToan_id] [int] NULL,
	[hanDoiTra] [datetime] NULL,
	[ghiChu] [nvarchar](max) NULL,
	[voucher_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hoaDon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoaDonChiTiet]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoaDonChiTiet](
	[hDCT_id] [varchar](10) NOT NULL,
	[hoaDon_id] [varchar](10) NOT NULL,
	[sPCT_id] [varchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
	[giaBan] [decimal](18, 2) NOT NULL,
	[thanhTien] [decimal](18, 2) NOT NULL,
	[trangThaiHDCT] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[hDCT_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachHang]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachHang](
	[khachHang_id] [varchar](10) NOT NULL,
	[hoTenKH] [nvarchar](100) NOT NULL,
	[gioiTinh] [bit] NULL,
	[diaChi] [nvarchar](200) NULL,
	[sdt] [varchar](10) NOT NULL,
	[email] [varchar](100) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[ngayTaoKH] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[khachHang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khuyenMaiVoucher]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khuyenMaiVoucher](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[tenVoucher] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](250) NOT NULL,
	[ngayBD] [datetime] NOT NULL,
	[ngayKT] [datetime] NOT NULL,
	[giamGia] [float] NOT NULL,
	[giaToiDa] [float] NOT NULL,
	[donToiThieu] [float] NOT NULL,
	[trangThai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaiDeGiay]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaiDeGiay](
	[deGiay_id] [int] IDENTITY(1,1) NOT NULL,
	[tenDe] [nvarchar](100) NOT NULL,
	[chieuCao] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[deGiay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mauSac]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mauSac](
	[mauSac_id] [int] IDENTITY(1,1) NOT NULL,
	[tenMau] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](100) NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[mauSac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhaCungCap]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhaCungCap](
	[nhaCC_id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[diaChi] [nvarchar](200) NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[nhaCC_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanVien]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanVien](
	[nhanVien_id] [varchar](7) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[diaChi] [nvarchar](max) NOT NULL,
	[sdt] [varchar](10) NOT NULL,
	[trangThai] [nvarchar](100) NOT NULL,
	[anh] [nvarchar](max) NULL,
	[matkhau] [varchar](max) NOT NULL,
	[vaiTro] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nhanVien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanPham]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanPham](
	[sanPham_id] [varchar](10) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[trangThai] [nvarchar](100) NOT NULL,
	[ngayTao] [datetime] NULL,
	[brand_id] [int] NOT NULL,
	[deGiay_id] [int] NOT NULL,
	[chatLieu_id] [int] NOT NULL,
	[nhaCC_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sanPham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanPham_chuongTrinhKhuyenMai]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanPham_chuongTrinhKhuyenMai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chuongTrinh_id] [int] NOT NULL,
	[sPCT_id] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanPhamChiTiet]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanPhamChiTiet](
	[sPCT_id] [varchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [decimal](18, 2) NOT NULL,
	[size_id] [int] NOT NULL,
	[anh] [nvarchar](max) NULL,
	[mauSac_id] [int] NOT NULL,
	[sanPham_id] [varchar](10) NOT NULL,
	[trangThai] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[ngayTaoSPCT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[sPCT_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[giaTri] [float] NOT NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanhToan]    Script Date: 7/22/2024 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanhToan](
	[thanhToan_id] [int] IDENTITY(1,1) NOT NULL,
	[hinhThucThanhToan] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[thanhToan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_khachHang] FOREIGN KEY([khachHang_id])
REFERENCES [dbo].[khachHang] ([khachHang_id])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_khachHang]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_nhanVien] FOREIGN KEY([nhanVien_id])
REFERENCES [dbo].[nhanVien] ([nhanVien_id])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_nhanVien]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_thanhToan] FOREIGN KEY([thanhToan_id])
REFERENCES [dbo].[thanhToan] ([thanhToan_id])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_thanhToan]
GO
ALTER TABLE [dbo].[hoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_hoaDonChiTiet_hoaDon] FOREIGN KEY([hoaDon_id])
REFERENCES [dbo].[hoaDon] ([hoaDon_id])
GO
ALTER TABLE [dbo].[hoaDonChiTiet] CHECK CONSTRAINT [FK_hoaDonChiTiet_hoaDon]
GO
ALTER TABLE [dbo].[hoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_hoaDonChiTiet_sanPhamChiTiet] FOREIGN KEY([sPCT_id])
REFERENCES [dbo].[sanPhamChiTiet] ([sPCT_id])
GO
ALTER TABLE [dbo].[hoaDonChiTiet] CHECK CONSTRAINT [FK_hoaDonChiTiet_sanPhamChiTiet]
GO
ALTER TABLE [dbo].[sanPham]  WITH CHECK ADD  CONSTRAINT [FK_sanPham_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[sanPham] CHECK CONSTRAINT [FK_sanPham_brand]
GO
ALTER TABLE [dbo].[sanPham]  WITH CHECK ADD  CONSTRAINT [FK_sanPham_chatLieu] FOREIGN KEY([chatLieu_id])
REFERENCES [dbo].[chatLieu] ([chatLieu_id])
GO
ALTER TABLE [dbo].[sanPham] CHECK CONSTRAINT [FK_sanPham_chatLieu]
GO
ALTER TABLE [dbo].[sanPham]  WITH CHECK ADD  CONSTRAINT [FK_sanPham_loaiDeGiay] FOREIGN KEY([deGiay_id])
REFERENCES [dbo].[loaiDeGiay] ([deGiay_id])
GO
ALTER TABLE [dbo].[sanPham] CHECK CONSTRAINT [FK_sanPham_loaiDeGiay]
GO
ALTER TABLE [dbo].[sanPham]  WITH CHECK ADD  CONSTRAINT [FK_sanPham_nhaCungCap] FOREIGN KEY([nhaCC_id])
REFERENCES [dbo].[nhaCungCap] ([nhaCC_id])
GO
ALTER TABLE [dbo].[sanPham] CHECK CONSTRAINT [FK_sanPham_nhaCungCap]
GO
ALTER TABLE [dbo].[sanPham_chuongTrinhKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_sanPham_chuongTrinhKhuyenMai_chuongTrinhKhuyenMai] FOREIGN KEY([chuongTrinh_id])
REFERENCES [dbo].[chuongTrinhKhuyenMai] ([chuongTrinh_id])
GO
ALTER TABLE [dbo].[sanPham_chuongTrinhKhuyenMai] CHECK CONSTRAINT [FK_sanPham_chuongTrinhKhuyenMai_chuongTrinhKhuyenMai]
GO
ALTER TABLE [dbo].[sanPham_chuongTrinhKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_sanPham_chuongTrinhKhuyenMai_sanPhamChiTiet] FOREIGN KEY([sPCT_id])
REFERENCES [dbo].[sanPhamChiTiet] ([sPCT_id])
GO
ALTER TABLE [dbo].[sanPham_chuongTrinhKhuyenMai] CHECK CONSTRAINT [FK_sanPham_chuongTrinhKhuyenMai_sanPhamChiTiet]
GO
ALTER TABLE [dbo].[sanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_sanPhamChiTiet_mauSac] FOREIGN KEY([mauSac_id])
REFERENCES [dbo].[mauSac] ([mauSac_id])
GO
ALTER TABLE [dbo].[sanPhamChiTiet] CHECK CONSTRAINT [FK_sanPhamChiTiet_mauSac]
GO
ALTER TABLE [dbo].[sanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_sanPhamChiTiet_sanPham] FOREIGN KEY([sanPham_id])
REFERENCES [dbo].[sanPham] ([sanPham_id])
GO
ALTER TABLE [dbo].[sanPhamChiTiet] CHECK CONSTRAINT [FK_sanPhamChiTiet_sanPham]
GO
ALTER TABLE [dbo].[sanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_sanPhamChiTiet_size] FOREIGN KEY([size_id])
REFERENCES [dbo].[size] ([size_id])
GO
ALTER TABLE [dbo].[sanPhamChiTiet] CHECK CONSTRAINT [FK_sanPhamChiTiet_size]
GO

INSERT INTO size (giaTri) 
VALUES(38.0),
		(39.0),
		(40.0),
		(41.0),
		(42.0),
		(43.0),
		(44.0),
		(45.0);
go

INSERT INTO mauSac (tenMau, moTa) VALUES
(N'Màu Đỏ', N'Mô tả màu đỏ'),
(N'Màu Vàng', N'Mô tả màu vàng'),
(N'Màu Cam', N'Mô tả màu cam'),
(N'Màu Nâu', N'Mô tả màu nâu'),
(N'Màu Trắng', N'Mô tả màu trắng'),
(N'Màu Xám', N'Mô tả màu xám'),
(N'Màu Be', N'Mô tả màu be'),
(N'Màu xanh dương', N'Mô tả màu xanh dương'),
(N'Màu xanh lá', N'Mô tả màu xanh lá');

go

INSERT INTO nhaCungCap (ten, moTa, diaChi)
VALUES 
(N'Công ty X', N'Cung cấp giày thể thao và phụ kiện thời trang', N'789 Đường KLM, TP. HCM'),
(N'Công ty Y', N'Cung cấp giày công sở và phụ kiện thời trang', N'101 Đường QRS, Hà Nội'),
(N'Công ty Z', N'Cung cấp giày thể thao và sneaker cao cấp', N'456 Đường TUV, Đà Nẵng'),
(N'Công ty W', N'Cung cấp giày thời trang nam nữ', N'222 Đường XYZ, TP. HCM'),
(N'Công ty V', N'Cung cấp giày thể thao dành cho các bạn trẻ', N'333 Đường DEF, Hà Nội');

INSERT INTO brand (ten, congTy, moTa)
VALUES 
(N'Puma', N'Puma SE', N'Thương hiệu giày thể thao và thời trang'),
(N'New Balance', N'New Balance Athletics, Inc.', N'Thương hiệu giày chạy và sneaker'),
(N'Converse', N'Converse Inc.', N'Thương hiệu giày sneaker nổi tiếng'),
(N'Reebok', N'Reebok International Ltd.', N'Thương hiệu giày thể thao và thời trang'),
(N'Under Armour', N'Under Armour, Inc.', N'Thương hiệu giày thể thao và trang phục thể thao');

INSERT INTO loaiDeGiay (tenDe, chieuCao)
VALUES
(N'Giày chạy bộ', 10),
(N'Giày búp bê', 5),
(N'Giày mọi', 8),
(N'Giày sandal', 7),
(N'Giày oxford', 12);


SELECT * FROM chuongTrinhKhuyenMai

go


SELECT * FROM sanPhamChiTiet


go



INSERT INTO thanhToan (hinhThucThanhToan) 
VALUES ( N'Tiền mặt'),
		( N'Chuyển khoản');



GO

--TẤT CẢ CÁC THỦ TỤC PROC Ở ĐÂY

-- Thủ tục xóa Voucher
CREATE OR ALTER PROCEDURE sp_DeleteVoucher
    @voucherId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;
        -- Xóa bản ghi trong bảng khuyenMaiVoucher
        DELETE FROM khuyenMaiVoucher
        WHERE voucher_id = @voucherId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        -- Ném ra lỗi
        THROW;
    END CATCH;
END
GO

-- Thủ tục xóa chương trình khuyến mãi

CREATE OR ALTER PROCEDURE sp_DeleteChuongTrinhKhuyenMai
    @chuongTrinhId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Xóa các bản ghi liên quan trong bảng sanPham_chuongTrinhKhuyenMai
        DELETE FROM sanPham_chuongTrinhKhuyenMai
        WHERE chuongTrinh_id = @chuongTrinhId;

        -- Xóa bản ghi trong bảng chuongTrinhKhuyenMai
        DELETE FROM chuongTrinhKhuyenMai
        WHERE chuongTrinh_id = @chuongTrinhId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END
GO

-- Thủ tục THANHTOANHOADON
CREATE OR ALTER PROCEDURE THANHTOANHOADON
    @MAHOADON VARCHAR(10),
    @TONGTIEN DECIMAL(18,2),
    @MATHANHTOAN INT,
    @MAKH VARCHAR(7),
    @GHICHU NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Cập nhật thông tin trong bảng hoaDon
        UPDATE hoaDon 
        SET
            tongTien = @TONGTIEN,
            trangThai = N'Hoàn thành',
            thanhToan_id = @MATHANHTOAN,
            khachHang_id = @MAKH,
            hanDoiTra = DATEADD(DAY, 2, GETDATE()),
            ghiChu = @GHICHU
        WHERE hoaDon_id = @MAHOADON;

        -- Cập nhật trạng thái cho các chi tiết hóa đơn
        UPDATE hoaDonChiTiet 
        SET
            trangThaiHDCT = N'Hoàn thành'
        WHERE trangThaiHDCT = N'Chờ thanh toán' AND hoaDon_id = @MAHOADON;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END
GO

-- Thủ tục CHINHSUASOLUONGSP
CREATE OR ALTER PROCEDURE CHINHSUASOLUONGSP
    @MAHOADON VARCHAR(10),
    @MAHDCT VARCHAR(10),
    @MASPCT VARCHAR(10),
    @SOLUONGSPTHAYDOI INT,
    @SOLUONGSPTRONGGIO INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SOLUONGSP INT;
    DECLARE @DONGIA DECIMAL(18,2);
    DECLARE @THANHTIEN DECIMAL(18,2);

    -- Lấy đơn giá từ sản phẩm chi tiết
    SELECT @DONGIA = donGia, @SOLUONGSP = soLuong
    FROM sanPhamChiTiet
    WHERE sPCT_id = @MASPCT;

    -- Update số lượng sản phẩm chi tiết và cập nhật trạng thái
    BEGIN
        UPDATE sanPhamChiTiet
        SET 
            soLuong = (@SOLUONGSP + @SOLUONGSPTRONGGIO) - @SOLUONGSPTHAYDOI,
            trangThai = CASE
                            WHEN ((@SOLUONGSP + @SOLUONGSPTRONGGIO) - @SOLUONGSPTHAYDOI) > 0 THEN N'Còn hàng'
                            ELSE N'Hết hàng'
                        END
        WHERE sPCT_id = @MASPCT;
    END

    -- Tính toán và cập nhật thành tiền cho chi tiết hóa đơn
    SET @THANHTIEN = @DONGIA * @SOLUONGSPTHAYDOI;

    -- Cập nhật số lượng và thành tiền trong chi tiết hóa đơn
    BEGIN
        UPDATE hoaDonChiTiet
        SET 
            soLuong = @SOLUONGSPTHAYDOI,
            thanhTien = @THANHTIEN
        WHERE hoaDon_id = @MAHOADON
            AND hDCT_id = @MAHDCT
            AND sPCT_id = @MASPCT;
    END

    -- Cập nhật lại tổng tiền của hóa đơn
    BEGIN
        DECLARE @tongTien DECIMAL(18,2);
        SELECT @tongTien = SUM(giaBan * soLuong)
        FROM hoaDonChiTiet
        WHERE trangThaiHDCT LIKE N'Chờ thanh toán'
            AND hoaDon_id = @MAHOADON;

        UPDATE hoaDon
        SET
            tongTien = @tongTien
        WHERE hoaDon_id = @MAHOADON;
    END
END;
GO

-- Thủ tục HUYHOADON
CREATE OR ALTER PROCEDURE HUYHOADON
    @MAHOADON VARCHAR(10),
    @MAHDCT VARCHAR(10),
    @MASPCT VARCHAR(10),
    @ghiChu NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SOLUONG INT;

    -- Lấy số lượng sản phẩm từ chi tiết hóa đơn để cập nhật lại kho hàng
    SELECT @SOLUONG = soLuong
    FROM hoaDonChiTiet
    WHERE hoaDon_id = @MAHOADON
        AND hDCT_id = @MAHDCT
        AND sPCT_id = @MASPCT
        AND trangThaiHDCT = N'Chờ thanh toán';

    -- Cập nhật lại số lượng sản phẩm trong kho và trạng thái của sản phẩm
    UPDATE sanPhamChiTiet
    SET 
        soLuong = soLuong + @SOLUONG,
        trangThai = CASE
                        WHEN soLuong + @SOLUONG > 0 THEN N'Còn hàng'
                        ELSE trangThai
                    END
    WHERE sPCT_id = @MASPCT;

    -- Đánh dấu hóa đơn đã huỷ và cập nhật ghi chú
    UPDATE hoaDon
    SET 
        trangThai = N'Đã huỷ',
        ghiChu = @ghiChu
    WHERE hoaDon_id = @MAHOADON;

    -- Đánh dấu chi tiết hóa đơn đã huỷ
    UPDATE hoaDonChiTiet
    SET trangThaiHDCT = N'Đã huỷ'
    WHERE hDCT_id = @MAHDCT;
END;
GO

-- Thủ tục PROC duaHDCTVeTrangThaiHuy

CREATE OR ALTER PROC duaHDCTVeTrangThaiHuy
    @MaHDCT NVARCHAR(10),
    @MaHoaDon NVARCHAR(10),
    @MaSanPhamChiTiet NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SoLuongXoa INT;

    -- Lấy số lượng sản phẩm từ hóa đơn chi tiết cần xoá
    SELECT @SoLuongXoa = soLuong
    FROM hoaDonChiTiet
    WHERE sPCT_id = @MaSanPhamChiTiet AND hDCT_id = @MaHDCT;

    -- Đánh dấu hóa đơn chi tiết đã bị xoá
    UPDATE hoaDonChiTiet
    SET trangThaiHDCT = N'Xoá'
    WHERE sPCT_id = @MaSanPhamChiTiet AND hoaDon_id = @MaHoaDon AND hDCT_id = @MaHDCT;

    -- Cập nhật tổng tiền của hóa đơn sau khi xoá
    DECLARE @tongTien DECIMAL(18,2);
    SET @tongTien = (
        SELECT SUM(giaBan * soLuong)
        FROM hoaDonChiTiet
        WHERE trangThaiHDCT LIKE N'Chờ thanh toán' AND hoaDon_id = @MaHoaDon
    );
    UPDATE hoaDon
    SET tongTien = @tongTien
    WHERE hoaDon_id = @MaHoaDon;

    -- Cập nhật số lượng sản phẩm trong bảng sanPhamChiTiet
    UPDATE sanPhamChiTiet
    SET 
        soLuong = soLuong + @SoLuongXoa,
        trangThai = CASE
                        WHEN soLuong + @SoLuongXoa > 0 THEN N'Còn hàng'
                        ELSE N'Hết hàng'
                    END
    WHERE sPCT_id = @MaSanPhamChiTiet;
END;




GO 

-- Thủ tục PROC ThemSanPhamVaoHoaDonChiTiet

CREATE OR ALTER PROCEDURE ThemSanPhamVaoHoaDonChiTiet
    @MaHoaDonChiTiet VARCHAR(10),
    @MaHoaDon VARCHAR(10),
    @MaSanPhamChiTiet NVARCHAR(50),
    @SoLuong INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @GiaBan DECIMAL(18,2);
    DECLARE @ThanhTien DECIMAL(18,2);
    DECLARE @TrangThaiHDCT NVARCHAR(100);

    -- Lấy giá bán của sản phẩm
    SELECT @GiaBan = donGia FROM sanPhamChiTiet WHERE sPCT_id = @MaSanPhamChiTiet;

    -- Thiết lập trạng thái mặc định cho hóa đơn chi tiết
    SET @TrangThaiHDCT = N'Chờ thanh toán';

    -- Tính thành tiền = số lượng * giá bán
    SET @ThanhTien = @SoLuong * @GiaBan;

    -- Thêm sản phẩm vào hóa đơn chi tiết
    IF EXISTS (SELECT 1 FROM hoaDonChiTiet WHERE hoaDon_id = @MaHoaDon AND sPCT_id = @MaSanPhamChiTiet AND trangThaiHDCT LIKE N'Chờ thanh toán')
    BEGIN
        -- Nếu sản phẩm đã tồn tại trong hóa đơn chi tiết, thực hiện update lại số lượng và thành tiền
        UPDATE hoaDonChiTiet
        SET soLuong = soLuong + @SoLuong,
            giaBan = @GiaBan,
            thanhTien = thanhTien + @ThanhTien
        WHERE hoaDon_id = @MaHoaDon AND sPCT_id = @MaSanPhamChiTiet;
    END
    ELSE
    BEGIN
        -- Nếu sản phẩm chưa tồn tại trong hóa đơn chi tiết, thêm mới vào
        INSERT INTO hoaDonChiTiet (hDCT_id, hoaDon_id, sPCT_id, soLuong, giaBan, thanhTien, trangThaiHDCT)
        VALUES (@MaHoaDonChiTiet, @MaHoaDon, @MaSanPhamChiTiet, @SoLuong, @GiaBan, @ThanhTien, @TrangThaiHDCT);
    END;

    -- Cập nhật tổng tiền của hóa đơn
    UPDATE hoaDon 
    SET tongTien = tongTien + @ThanhTien 
    WHERE hoaDon_id = @MaHoaDon;

    -- Cập nhật số lượng sản phẩm trong bảng sanPhamChiTiet
    UPDATE sanPhamChiTiet
    SET soLuong = soLuong - @SoLuong,
        trangThai = CASE WHEN soLuong - @SoLuong = 0 THEN N'Hết hàng' ELSE trangThai END
    WHERE sPCT_id = @MaSanPhamChiTiet;
END;
GO

-- Thủ tục PROC XoaSanPhamKhoiHoaDonChiTiet

CREATE OR ALTER PROCEDURE XoaSanPhamKhoiHoaDonChiTiet
    @MaHoaDon VARCHAR(10),
    @MaHDCT VARCHAR(10),
    @MaSanPhamChiTiet NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SoLuong INT;

    -- Lấy số lượng sản phẩm trong hóa đơn chi tiết cần xoá
    SELECT @SoLuong = SoLuong
    FROM HoaDonChiTiet
    WHERE hoaDon_id = @MaHoaDon AND hDCT_id = @MaHDCT AND sPCT_id = @MaSanPhamChiTiet;

    -- Cập nhật số lượng sản phẩm trong bảng SanPhamChiTiet
    UPDATE sanPhamChiTiet
    SET SoLuong = SoLuong + @SoLuong,
        trangThai = CASE WHEN SoLuong + @SoLuong > 0 THEN N'Còn hàng' ELSE N'Hết hàng' END
    WHERE sPCT_id = @MaSanPhamChiTiet;

    -- Xoá sản phẩm khỏi hóa đơn chi tiết
    DELETE FROM HoaDonChiTiet
    WHERE hoaDon_id = @MaHoaDon AND hDCT_id = @MaHDCT AND sPCT_id = @MaSanPhamChiTiet;

    -- Cập nhật lại tổng tiền của hóa đơn
    DECLARE @TongTien DECIMAL(18,2);
    SELECT @TongTien = SUM(giaBan * soLuong)
    FROM HoaDonChiTiet
    WHERE trangThaiHDCT = N'Chờ thanh toán' AND hoaDon_id = @MaHoaDon;

    UPDATE hoaDon
    SET tongTien = ISNULL(@TongTien, 0)
    WHERE hoaDon_id = @MaHoaDon;
END;
GO
