CREATE DATABASE quanLyCuaHangGiay2
GO
USE [quanLyCuaHangGiay2]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[congTy] [nvarchar](250) NOT NULL,
	[moTa] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chatLieu]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chatLieu](
	[chatLieu_id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[nguonGoc] [nvarchar](100) NULL,
	[moTa] [nvarchar](max) NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[chatLieu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chuongTrinhKhuyenMai]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chuongTrinhKhuyenMai](
	[chuongTrinh_id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](250) NOT NULL,
	[ngayBD] [datetime] NOT NULL,
	[ngayKT] [datetime] NOT NULL,
	[giamGia] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[chuongTrinh_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoaDon]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoaDon](
	[hoaDon_id] [varchar](10) NOT NULL,
	[ngayTaoHD] [datetime] NULL,
	[nhanVien_id] [varchar](7) NOT NULL,
	[tongTien] [decimal](18, 2) NULL,
	[trangThai] [nvarchar](100) NULL,
	[khachHang_id] [varchar](10) NULL,
	[thanhToan_id] [int] NULL,
	[hanDoiTra] [datetime] NULL,
	[ghiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[hoaDon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoaDon_khuyenMaiVoucher]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoaDon_khuyenMaiVoucher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[voucher_id] [int] NOT NULL,
	[hoaDon_id] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoaDonChiTiet]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoaDonChiTiet](
	[hDCT_id] [varchar](10) NOT NULL,
	[hoaDon_id] [varchar](10) NOT NULL,
	[sPCT_id] [varchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
	[giaBan] [decimal](18, 2) NOT NULL,
	[thanhTien] [decimal](18, 2) NOT NULL,
	[trangThaiHDCT] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[hDCT_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachHang]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachHang](
	[khachHang_id] [varchar](10) NOT NULL,
	[hoTenKH] [nvarchar](100) NOT NULL,
	[gioiTinh] [bit] NULL,
	[diaChi] [nvarchar](200) NULL,
	[sdt] [varchar](10) NOT NULL,
	[email] [varchar](100) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[ngayTaoKH] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[khachHang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khuyenMaiVoucher]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khuyenMaiVoucher](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[tenVoucher] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](250) NOT NULL,
	[ngayBD] [datetime] NOT NULL,
	[ngayKT] [datetime] NOT NULL,
	[giamGia] [float] NOT NULL,
	[giaToiDa] [float] NOT NULL,
	[donToiThieu] [float] NOT NULL
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaiDeGiay]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaiDeGiay](
	[deGiay_id] [int] IDENTITY(1,1) NOT NULL,
	[tenDe] [nvarchar](100) NOT NULL,
	[chieuCao] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[deGiay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mauSac]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mauSac](
	[mauSac_id] [int] IDENTITY(1,1) NOT NULL,
	[tenMau] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](100) NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[mauSac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhaCungCap]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhaCungCap](
	[nhaCC_id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[diaChi] [nvarchar](200) NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[nhaCC_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanVien]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanVien](
	[nhanVien_id] [varchar](7) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[diaChi] [nvarchar](max) NOT NULL,
	[sdt] [varchar](10) NOT NULL,
	[trangThai] [nvarchar](100) NOT NULL,
	[anh] [nvarchar](max) NULL,
	[matkhau] [varchar](max) NOT NULL,
	[vaiTro] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nhanVien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanPham]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanPham](
	[sanPham_id] [varchar](10) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[trangThai] [nvarchar](100) NOT NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[sanPham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanPham_chuongTrinhKhuyenMai]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanPham_chuongTrinhKhuyenMai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chuongTrinh_id] [int] NOT NULL,
	[sanPham_id] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanPhamChiTiet]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanPhamChiTiet](
	[sPCT_id] [varchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [decimal](18, 2) NOT NULL,
	[size_id] [int] NOT NULL,
	[deGiay_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
	[chatLieu_id] [int] NOT NULL,
	[nhaCC_id] [int] NOT NULL,
	[anh] [nvarchar](max) NULL,
	[mauSac_id] [int] NOT NULL,
	[sanPham_id] [varchar](10) NOT NULL,
	[trangThai] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[ngayTaoSPCT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[sPCT_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[giaTri] [float] NOT NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanhToan]    Script Date: 7/8/2024 10:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanhToan](
	[thanhToan_id] [int] IDENTITY(1,1) NOT NULL,
	[hinhThucThanhToan] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[thanhToan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chatLieu] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[hoaDon] ADD  DEFAULT (getdate()) FOR [ngayTaoHD]
GO
ALTER TABLE [dbo].[hoaDon] ADD  DEFAULT (dateadd(day,(7),getdate())) FOR [hanDoiTra]
GO
ALTER TABLE [dbo].[khachHang] ADD  DEFAULT (getdate()) FOR [ngayTaoKH]
GO
ALTER TABLE [dbo].[mauSac] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[nhaCungCap] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[sanPham] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[sanPhamChiTiet] ADD  DEFAULT (getdate()) FOR [ngayTaoSPCT]
GO
ALTER TABLE [dbo].[size] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_khachHang] FOREIGN KEY([khachHang_id])
REFERENCES [dbo].[khachHang] ([khachHang_id])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_khachHang]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_nhanVien] FOREIGN KEY([nhanVien_id])
REFERENCES [dbo].[nhanVien] ([nhanVien_id])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_nhanVien]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_thanhToan] FOREIGN KEY([thanhToan_id])
REFERENCES [dbo].[thanhToan] ([thanhToan_id])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_thanhToan]
GO
ALTER TABLE [dbo].[hoaDon_khuyenMaiVoucher]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_khuyenMaiVoucher_hoaDon] FOREIGN KEY([hoaDon_id])
REFERENCES [dbo].[hoaDon] ([hoaDon_id])
GO
ALTER TABLE [dbo].[hoaDon_khuyenMaiVoucher] CHECK CONSTRAINT [FK_hoaDon_khuyenMaiVoucher_hoaDon]
GO
ALTER TABLE [dbo].[hoaDon_khuyenMaiVoucher]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_khuyenMaiVoucher_khuyenMaiVoucher] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[khuyenMaiVoucher] ([voucher_id])
GO
ALTER TABLE [dbo].[hoaDon_khuyenMaiVoucher] CHECK CONSTRAINT [FK_hoaDon_khuyenMaiVoucher_khuyenMaiVoucher]
GO
ALTER TABLE [dbo].[hoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_hoaDonChiTiet_hoaDon] FOREIGN KEY([hoaDon_id])
REFERENCES [dbo].[hoaDon] ([hoaDon_id])
GO
ALTER TABLE [dbo].[hoaDonChiTiet] CHECK CONSTRAINT [FK_hoaDonChiTiet_hoaDon]
GO
ALTER TABLE [dbo].[hoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_hoaDonChiTiet_sanPhamChiTiet] FOREIGN KEY([sPCT_id])
REFERENCES [dbo].[sanPhamChiTiet] ([sPCT_id])
GO
ALTER TABLE [dbo].[hoaDonChiTiet] CHECK CONSTRAINT [FK_hoaDonChiTiet_sanPhamChiTiet]
GO
ALTER TABLE [dbo].[sanPham_chuongTrinhKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_sanPham_chuongTrinhKhuyenMai_chuongTrinhKhuyenMai] FOREIGN KEY([chuongTrinh_id])
REFERENCES [dbo].[chuongTrinhKhuyenMai] ([chuongTrinh_id])
GO
ALTER TABLE [dbo].[sanPham_chuongTrinhKhuyenMai] CHECK CONSTRAINT [FK_sanPham_chuongTrinhKhuyenMai_chuongTrinhKhuyenMai]
GO
ALTER TABLE [dbo].[sanPham_chuongTrinhKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_sanPham_chuongTrinhKhuyenMai_sanPham] FOREIGN KEY([sanPham_id])
REFERENCES [dbo].[sanPham] ([sanPham_id])
GO
ALTER TABLE [dbo].[sanPham_chuongTrinhKhuyenMai] CHECK CONSTRAINT [FK_sanPham_chuongTrinhKhuyenMai_sanPham]
GO
ALTER TABLE [dbo].[sanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_sanPhamChiTiet_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[sanPhamChiTiet] CHECK CONSTRAINT [FK_sanPhamChiTiet_brand]
GO
ALTER TABLE [dbo].[sanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_sanPhamChiTiet_chatLieu] FOREIGN KEY([chatLieu_id])
REFERENCES [dbo].[chatLieu] ([chatLieu_id])
GO
ALTER TABLE [dbo].[sanPhamChiTiet] CHECK CONSTRAINT [FK_sanPhamChiTiet_chatLieu]
GO
ALTER TABLE [dbo].[sanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_sanPhamChiTiet_loaiDeGiay] FOREIGN KEY([deGiay_id])
REFERENCES [dbo].[loaiDeGiay] ([deGiay_id])
GO
ALTER TABLE [dbo].[sanPhamChiTiet] CHECK CONSTRAINT [FK_sanPhamChiTiet_loaiDeGiay]
GO
ALTER TABLE [dbo].[sanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_sanPhamChiTiet_mauSac] FOREIGN KEY([mauSac_id])
REFERENCES [dbo].[mauSac] ([mauSac_id])
GO
ALTER TABLE [dbo].[sanPhamChiTiet] CHECK CONSTRAINT [FK_sanPhamChiTiet_mauSac]
GO
ALTER TABLE [dbo].[sanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_sanPhamChiTiet_nhaCungCap] FOREIGN KEY([nhaCC_id])
REFERENCES [dbo].[nhaCungCap] ([nhaCC_id])
GO
ALTER TABLE [dbo].[sanPhamChiTiet] CHECK CONSTRAINT [FK_sanPhamChiTiet_nhaCungCap]
GO
ALTER TABLE [dbo].[sanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_sanPhamChiTiet_sanPham] FOREIGN KEY([sanPham_id])
REFERENCES [dbo].[sanPham] ([sanPham_id])
GO
ALTER TABLE [dbo].[sanPhamChiTiet] CHECK CONSTRAINT [FK_sanPhamChiTiet_sanPham]
GO
ALTER TABLE [dbo].[sanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_sanPhamChiTiet_size] FOREIGN KEY([size_id])
REFERENCES [dbo].[size] ([size_id])
GO
ALTER TABLE [dbo].[sanPhamChiTiet] CHECK CONSTRAINT [FK_sanPhamChiTiet_size]
GO

INSERT INTO size (giaTri) 
VALUES(38.0),
		(39.0),
		(40.0),
		(41.0),
		(42.0),
		(43.0),
		(44.0),
		(45.0);
go

INSERT INTO mauSac (tenMau, moTa) VALUES
(N'Màu Đỏ', N'Mô tả màu đỏ'),
(N'Màu Vàng', N'Mô tả màu vàng'),
(N'Màu Cam', N'Mô tả màu cam'),
(N'Màu Nâu', N'Mô tả màu nâu'),
(N'Màu Trắng', N'Mô tả màu trắng'),
(N'Màu Xám', N'Mô tả màu xám'),
(N'Màu Be', N'Mô tả màu be'),
(N'Màu xanh dương', N'Mô tả màu xanh dương'),
(N'Màu xanh lá', N'Mô tả màu xanh lá');

go

INSERT INTO nhaCungCap (ten, moTa, diaChi)
VALUES 
(N'Công ty X', N'Cung cấp giày thể thao và phụ kiện thời trang', N'789 Đường KLM, TP. HCM'),
(N'Công ty Y', N'Cung cấp giày công sở và phụ kiện thời trang', N'101 Đường QRS, Hà Nội'),
(N'Công ty Z', N'Cung cấp giày thể thao và sneaker cao cấp', N'456 Đường TUV, Đà Nẵng'),
(N'Công ty W', N'Cung cấp giày thời trang nam nữ', N'222 Đường XYZ, TP. HCM'),
(N'Công ty V', N'Cung cấp giày thể thao dành cho các bạn trẻ', N'333 Đường DEF, Hà Nội');

INSERT INTO brand (ten, congTy, moTa)
VALUES 
(N'Puma', N'Puma SE', N'Thương hiệu giày thể thao và thời trang'),
(N'New Balance', N'New Balance Athletics, Inc.', N'Thương hiệu giày chạy và sneaker'),
(N'Converse', N'Converse Inc.', N'Thương hiệu giày sneaker nổi tiếng'),
(N'Reebok', N'Reebok International Ltd.', N'Thương hiệu giày thể thao và thời trang'),
(N'Under Armour', N'Under Armour, Inc.', N'Thương hiệu giày thể thao và trang phục thể thao');

INSERT INTO loaiDeGiay (tenDe, chieuCao)
VALUES
(N'Giày chạy bộ', 10),
(N'Giày búp bê', 5),
(N'Giày mọi', 8),
(N'Giày sandal', 7),
(N'Giày oxford', 12);



go 

INSERT INTO sanPham_chuongTrinhKhuyenMai(chuongTrinh_id, sanPham_id)
VALUES (1, 'SP001'),
		(2, 'SP003'),
		(3, 'SP005'),
		(4, 'SP008'),
		(1, 'SP006')


go


INSERT INTO thanhToan (hinhThucThanhToan) 
VALUES ( N'Tiền mặt'),
		( N'Chuyển khoản');



INSERT INTO khuyenMaiVoucher (tenVoucher, moTa, ngayBD, ngayKT, giamGia, giaToiDa, donToiThieu)
VALUES 
    ('SUMMER2024', N'Giảm giá mùa hè 2024', '2024-07-01', '2024-08-31', 20, 50000, 100000),
    ('FALL2024', N'Khuyến mãi mùa thu 2024', '2024-09-01', '2024-10-31', 15 , 30000, 110000),
    ('WINTER2024', N'Giảm giá mùa đông 2024', '2024-12-01', '2025-01-31', 25 , 20000, 120000),
    ('SPRING2025', N'Khuyến mãi mùa xuân 2025', '2025-03-01', '2025-04-30', 18 , 60000, 130000),
    ('BACKTOSCHOOL2025', N'Khuyến mãi trở lại trường 2025', '2025-08-01', '2025-09-30', 30 , 70000, 140000);


INSERT INTO hoaDon_khuyenMaiVoucher(voucher_id, hoaDon_id)
VALUES(1, 'HD000001'),
		(2, 'HD000002'),
		(3, 'HD000003'),
		(4, 'HD000001'),
		(5, 'HD000004')

select * from size
select * from mauSac
select * from chatLieu
select * from nhaCungCap
select * from brand
select * from loaiDeGiay
select * from chuongTrinhKhuyenMai
select * from sanPham
select * from sanPham_chuongTrinhKhuyenMai
select * from sanPhamChiTiet
select * from nhanVien
select * from khachHang
select * from thanhToan
select * from hoaDon
select * from hoaDonChiTiet order by hoaDon_id 
select * from khuyenMaiVoucher
select * from hoaDon_khuyenMaiVoucher

--PROC 
--  stored procedure để thêm sản phẩm vào hóa đơn chi tiết
CREATE OR ALTER PROCEDURE ThemSanPhamVaoHoaDonChiTiet
    @MaHoaDonChiTiet VARCHAR(10),
    @MaHoaDon VARCHAR(10),
    @MaSanPhamChiTiet NVARCHAR(50),
    @SoLuong INT
    --@ThanhTien Decimal(18,2) = NULL OUTPUT
AS
BEGIN
	Declare  @GiaBan decimal(18,2);
	Declare @ThanhTien Decimal(18,2);
	Declare @TrangThaiHDCT nvarchar(100);
	set @GiaBan = (select donGia  from sanPhamChiTiet where sPCT_id like @MaSanPhamChiTiet)
    set @TrangThaiHDCT = N'Chờ thanh toán'
   --Tính thành tiền = số lượng x giá bán
        SET @ThanhTien = @SoLuong * @GiaBan;
   
    -- Thêm sản phẩm vào hóa đơn chi tiết
		 IF EXISTS (SELECT 1 FROM HoaDonChiTiet WHERE hoaDon_id = @MaHoaDon AND sPCT_id = @MaSanPhamChiTiet and trangThaiHDCT like N'Chờ thanh toán')
    BEGIN
        -- Nếu sản phẩm đã tồn tại trong hoá đơn chi tiết thì thực hiện update lại số lượng sản phẩm
        UPDATE HoaDonChiTiet
        SET SoLuong = SoLuong + @SoLuong,
            giaBan = @GiaBan,
            thanhTien = thanhTien + @ThanhTien
        WHERE hoaDon_id = @MaHoaDon AND sPCT_id = @MaSanPhamChiTiet;
    END
    ELSE
    BEGIN
        -- Nếu sẩn phẩm chưa tồn tại thì thực hiện thêm 1 bản ghi mới vào hoá đơn chi tiết
       INSERT INTO HoaDonChiTiet (hDCT_id, hoaDon_id, sPCT_id, SoLuong, giaBan, thanhTien, trangThaiHDCT)
			VALUES (@MaHoaDonChiTiet, @MaHoaDon, @MaSanPhamChiTiet, @SoLuong, @GiaBan, @ThanhTien, @TrangThaiHDCT);
    END;
	UPDATE hoaDon SET 
	tongTien = tongTien+ @ThanhTien WHERE hoaDon_id = @MaHoaDon

    -- Cập nhật số lượng sản phẩm trong bảng SanPhamChiTiet
    UPDATE sanPhamChiTiet
        SET SoLuong = SoLuong - @SoLuong,
            trangThai = CASE WHEN SoLuong - @SoLuong = 0 THEN N'Hết hàng' ELSE trangThai END
        WHERE sPCT_id = @MaSanPhamChiTiet;
END;


go
--  stored procedure để xoá sản phẩm khỏi hóa đơn chi tiết

CREATE or alter PROC  duaHDCTVeTrangThaiHuy
 -- khai báo các biến đầu vào để xác định chính xác hoá đơn chi tiết cần đưa về trạng thái huỷ
    @MaHDCT NVARCHAR(10),
	@MaHoaDon NVARCHAR(10),
	@MaSanPhamChiTiet NVARCHAR(10)
	
AS
BEGIN
    -- Lấy thông tin số lượng sản phẩm trong hóa đơn chi tiết
    DECLARE @SoLuongXoa INT;
    SELECT @SoLuongXoa = SoLuong
    FROM HoaDonChiTiet
    WHERE sPCT_id = @MaSanPhamChiTiet and hDCT_id = @MaHDCT;

    -- Xoá sản phẩm khỏi hóa đơn chi tiết
    Update  HoaDonChiTiet set trangThaiHDCT = N'Xoá'
    WHERE sPCT_id = @MaSanPhamChiTiet and hoaDon_id = @MaHoaDon and hDCT_id = @MaHDCT;


	declare @tongTien decimal(18,2);
	set @tongTien = (select SUM(giaBan*soLuong) from hoaDonChiTiet where trangThaiHDCT like N'Chờ thanh toán' and hoaDon_id = @MaHoaDon)
	Update  hoaDon set tongTien =  @tongTien
    WHERE hoaDon_id = @MaHoaDon;

    -- Cập nhật số lượng sản phẩm trong bảng SanPham
   
	 UPDATE sanPhamChiTiet
        SET SoLuong = SoLuong + @SoLuongXoa,
            trangThai = CASE WHEN SoLuong + @SoLuongXoa > 0 THEN N'Còn hàng' ELSE N'Hết hàng' END
        WHERE sPCT_id = @MaSanPhamChiTiet;
END;
GO
CREATE OR ALTER PROC HUYHOADON
@MAHOADON VARCHAR(10),
@MAHDCT VARCHAR(10),
@MASPCT VARCHAR(10),
@ghiChu NVARCHAR(max)
AS
BEGIN
	DECLARE @SOLUONG INT;
	SET @SOLUONG = (SELECT SOLUONG FROM hoaDonChiTiet WHERE hoaDon_id = @MAHOADON and @MAHDCT = hDCT_id and sPCT_id = @MASPCT and trangThaiHDCT = N'Chờ thanh toán')
	UPDATE  sanPhamChiTiet set soLuong = soLuong + @SOLUONG,
            trangThai = CASE WHEN SoLuong + @SOLUONG > 0 THEN N'Còn hàng' ELSE trangThai END
        WHERE sPCT_id = @MASPCT;

	UPDATE hoaDon SET trangThai = N'Đã huỷ', ghiChu = @ghiChu where hoaDon_id = @MAHOADON;

	update hoaDonChiTiet set trangThaiHDCT = N'Đã huỷ' where hDCT_id = @MAHDCT;
END;

GO
CREATE OR ALTER PROC CHINHSUASOLUONGSP
--Khai báo các biến truyền từ ngoài vào
@MAHOADON VARCHAR(10),
@MAHDCT VARCHAR(10),
@MASPCT VARCHAR(10),
@SOLUONGSPTHAYDOI INT,
@SOLUONGSPTRONGGIO INT -- lấy từ bảng 
AS
BEGIN
--Khai báo 3 biến cục bộ
	DECLARE @SOLUONGSP INT;
	DECLARE @DONGIA DECIMAL(18,2);
	DECLARE @THANHTIEN DECIMAL(18,2);

	-- set đơn giá mặc định được lấy từ sản phẩm theo mã sản phẩm chi tiết
	SET @DONGIA = (SELECT donGia FROM sanPhamChiTiet WHERE sPCT_id = @MASPCT)
	-- set số lượng được lấy từ sản phẩm chi tiết theo  mã sản phẩm chi tiết
	SET @SOLUONGSP = (SELECT soLuong FROM sanPhamChiTiet WHERE sPCT_id = @MASPCT)

	-- thực hiện update lại số lượng sản phẩm chi tiết = (số lượng spct + số sản phẩm đã thêm vào giỏ hàng) - số sản phẩm cần thay đổi đã nhập vào;;  có thể bỏ cập nhật trạng thái
	UPDATE sanPhamChiTiet SET soLuong = (@SOLUONGSP + @SOLUONGSPTRONGGIO) - @SOLUONGSPTHAYDOI,
    trangThai = CASE
                    WHEN ((@SOLUONGSP + @SOLUONGSPTRONGGIO) - @SOLUONGSPTHAYDOI) > 0 THEN N'Còn hàng'
                    ELSE N'Hết hàng' 
                END
	WHERE sPCT_id = @MASPCT
	SET @THANHTIEN = @DONGIA * @SOLUONGSPTHAYDOI

	--- update lại số lượng sản phẩm trong hoá đơn
	UPDATE hoaDonChiTiet set soLuong = @SOLUONGSPTHAYDOI, thanhTien = @THANHTIEN  WHERE hoaDon_id = @MAHOADON AND hDCT_id = @MAHDCT AND sPCT_id = @MASPCT

	declare @tongTien decimal(18,2);
	set @tongTien = (select SUM(giaBan*soLuong) from hoaDonChiTiet where trangThaiHDCT like N'Chờ thanh toán' and hoaDon_id = @MaHoaDon)
	Update  hoaDon set tongTien =  @tongTien
    WHERE hoaDon_id = @MaHoaDon;
END;

go
CREATE OR ALTER PROC THANHTOANHOADON
@MAHOADON VARCHAR(10),
@TONGTIEN DECIMAL(18,2),
@MATHANHTOAN INT,
@MAKH VARCHAR(7),
@GHICHU NVARCHAR (MAX)
AS
BEGIN
	UPDATE hoaDon SET
	tongTien = @TONGTIEN,
	trangThai = N'Hoàn thành', 
	thanhToan_id = @MATHANHTOAN,
	khachHang_id = @MAKH,
	hanDoiTra = DATEADD(DAY, 2, GETDATE()),
	ghiChu = @GHICHU
	where hoaDon_id = @MAHOADON

	UPDATE hoaDonChiTiet SET
	trangThaiHDCT = N'Hoàn thành'
	where trangThaiHDCT = N'Chờ thanh toán' and hoaDon_id = @MAHOADON
END
GO



CREATE OR ALTER PROC procTraHang
@MAHOADON VARCHAR(10),
@MASPCHITIET VARCHAR(10),
@MAHOADONCHITIET VARCHAR(10),
@NHANVIEN_ID VARCHAR(7),
@SOLUONGTRA INT,
@LYDOTRA NVARCHAR(max),
@TONGTIENHOADON DECIMAL(18,2)
AS
BEGIN
	Declare @GIATRA decimal(18,2), @TONGTIENHOANTRA DECIMAL(18,2);
	SET @GIATRA = (SELECT giaBan FROM hoaDonChiTiet WHERE hDCT_id = @MAHOADONCHITIET)
	SET @TONGTIENHOANTRA = @GIATRA * @SOLUONGTRA
	INSERT INTO traHang(hoaDon_id, sPCT_id, nhanVien_id, soLuongTra, giaTra, tongTienHoanTra, lyDoTraHang, trangThai) 
	VALUES(@MAHOADON, @MASPCHITIET, @NHANVIEN_ID, @SOLUONGTRA, @GIATRA, @TONGTIENHOANTRA, @LYDOTRA, N'Trả thành công')

	UPDATE hoaDonChiTiet
	SET soLuong = soLuong - @SOLUONGTRA where hDCT_id = @MAHOADONCHITIET

	UPDATE hoaDonChiTiet
	SET thanhTien = soLuong * giaBan
	where hDCT_id = @MAHOADONCHITIET

	IF (SELECT soLuong  FROM hoaDonChiTiet WHERE hDCT_id = @MAHOADONCHITIET )= 0
	BEGIN
		UPDATE hoaDonChiTiet
	SET trangThaiHDCT = N'Xoá'
		where hDCT_id = @MAHOADONCHITIET
	END

	UPDATE hoaDon
	set trangThai = N'Trả hàng', tongTien = @TONGTIENHOADON where hoaDon_id = @MAHOADON

	Update sanPhamChiTiet
	set soLuong = soLuong + @SOLUONGTRA, trangThai =  N'Còn hàng' where sPCT_id = @MASPCHITIET
END


SELECT chuongTrinh_id, ten, moTa, ngayBD, ngayKT, giamGia
FROM chuongTrinhKhuyenMai

INSERT INTO chuongTrinhKhuyenMai(ten, moTa, ngayBD, ngayKT, giamGia)
VALUES(?, ?, ?, ?, ?)

UPDATE chuongTrinhKhuyenMai
SET ten= ?, moTa = ?, ngayBD = ?, ngayKT = ?, giamGia = ?
WHERE chuongTrinh_id = ?

DELETE chuongTrinhKhuyenMai
WHERE chuongTrinh_id = ?

SELECT voucher_id, tenVoucher, moTa, ngayBD, ngayKT, giamGia, giaToiDa, donToiThieu 
FROM khuyenMaiVoucher

INSERT INTO khuyenMaiVoucher(tenVoucher, moTa, ngayBD, ngayKT, giamGia, giaToiDa, donToiThieu)
VALUES(?, ?, ?, ?, ?, ?, ?)

SELECT * FROM khuyenMaiVoucher

UPDATE khuyenMaiVoucher
SET tenVoucher = ?, moTa = ?, ngayBD = ?, ngayKT = ?, giamGia = ?, giaToiDa = ?, donToiThieu = ?
WHERE voucher_id = ?

DELETE khuyenMaiVoucher
WHERE voucher_id = ?